p {font-family: 'Macondo', cursive;font-size: 1.1rem;}

h3 {text-align: center;text-decoration: underline;}

.überschrift {text-align: center;}

footer {text-align: center;}

.box{
    margin-top: 5rem !important;
    margin-left: 5rem !important;}