p {font-family: 'Macondo', cursive;font-size: 1.1rem;}

h3 {text-align: center;text-decoration: underline;}

.überschrift {text-align: center;}

footer {text-align: center;}


/* Sham Css Dateien */
.box{
    margin-top: 5rem !important;
    margin-left: 5rem !important;}

    .aside-Sham{
        width:45%;
        font-size: 20px;
        float:right;
        font-style: italic;
    }
/* Sprotte Media@ Test */
    @media screen and (min-width: 1880px) {
  .mediabox {display: flex;

  flex-direction: column;}    
      }